<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
	<title>메인페이지</title>
</head>
<body>
	<div class="main-container">
		<div>
			<h1>와인 품질 예측 및 타이타닉 생존자 예측 서비스</h1>
			<hr>
		</div>
		<div>
			<a class="atag" href="{{ url_for('wine') }}">와인 품질 예측 바로가기</a>
		</div>
		<div>
			<a class="atag" href="{{ url_for('titanic') }}">타이타닉 생존여부 예측 바로가기</a>
		</div>
		<div>
			<a class="atag" href="{{ url_for('movie') }}">영화 관객수 예측 바로가기</a>
		</div>
	</div>
</body>
</html>